* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Normal(Regular) 400
Medium500
SemiBold(DemiBold)600
Bold700
ExtraBold (UltraBold) */

:root {
  /* colors */
  --brand-light-color:#59B2FF;
  --brand-mid-color:#3487CF;
  --brand-dark-color:#1D6FB6;
  --danger-color:#FF5959;
  
  --input-base-color:#1C1F21;
  --input-stroke-color:#363B40;
  --input-placeholder-color:#869198;

  --shape-background-color:#131516;
  --shape-body-color:#212427;
  --shape-button-color:#2D3136;
  --shape-hover-color:#383D42;

  --text-color:#C8CDD0;
  --text-heading:#F9F9F9;

  /* fontes */
  --font-family:"Open Sans", sans-serif;
  --font-family-2: "Baloo 2", sans-serif;

  /* Open Sans */
  --body-light: 300 1rem/normal var(--font-family);
  --body-md-regular: 400 1rem/normal var(--font-family);
  --body-md-semibold: 600 1rem/normal var(--font-family);
  --body-sm-regular: 400 .875rem/normal var(--font-family);
  --body-sm-semibold: 600 .875rem/normal var(--font-family);
  --body-xs-regular: 400 .75rem/normal var(--font-family);
  --body-xs-semibold: 600 .75rem/normal var(--font-family);
 
  
  /* Baloo 2 */
  --heading-md: 700 1.75rem/normal var(--font-family-2);
  --heading-sm: 700 1.125rem/normal var(--font-family-2);

}

body {
  background-color: #151414;
  overflow: hidden;
  font: var(--body-sm-regular);
  color: var(--text-color);
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font: var(--heading-md);
  color: var(--text-heading);
}

.grid-rows {
  display: grid;
}

.grid-column {
  display: grid;
}



/* -webkit-font-smoothing: antialiased;

-moz-osx-font-smoothing: grayscale;

text-rendering: optimizeLegibility; */