#fieldset-event {
  #event-icon {
    align-items: center;
    display: grid;
    grid-template-columns: 24px 122px;
    gap: 12px;
    color: var(--text-heading);
    margin-bottom: 24px;
    font: var(--heading-sm);
    img {
      width: 24px;
      height: 24px;
      align-items: center;
    }
  }
  .box-input {
    grid-template-rows: auto 1fr;
    margin-top: 16px;
    
  }

  .birth-box {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    label {
      color: var(--text-color);
      font: var(--body-sm-regular);
    }
  }
  
  .input-local {
    input {
      width: 100%;
    }
    
  } 

}

#fieldset-custom {
  
  

  .custom-icon {
    grid-template-columns: 1.5rem 7.75rem;
    gap: 12px;
    margin-block: 3rem 1.5rem;
    display: grid;
    align-items:center;
    legend {
      font: var(--heading-sm);
      color: var(--text-heading);
    }
    img {
      width: 1.5rem;
     height: 1.5rem;
     margin-block: 0.125rem;
    }
  }
}






